# Cleaning users database

## Imports

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from collections import Counter
import os
from dotenv import load_dotenv

## Loading database and discovery

In [6]:
# Load the users data
load_dotenv()
df_users = pd.read_csv(os.getenv("USER_DB_URL"), low_memory=False)

In [7]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207852 entries, 0 to 207851
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    207852 non-null  int64
 1   locale                207852 non-null  object
 2   name                  207842 non-null  object
 3   statut_infolettre     207852 non-null  int64
 4   statut_mailchimp      207666 non-null  object
 5   public                207852 non-null  int64
 6   prenom                12400 non-null   object
 7   codepostal            135905 non-null  object
 8   pays                  148899 non-null  object
 9   anciennete            195169 non-null  float64
 10  statut                19061 non-null   object
 11  fonction              214 non-null     object
 12  fonction_longue       31 non-null      object
 13  enseigne_en_eefe      207852 non-null  int64
 14  aucun_etablissement   207852 non-null  int64
 15  json_niveau           207848 non-null  object
 16  json_discipline       207848 non-null  object
 17  json_etablissement    160214 non-null  object
 18  json_centre_interet   103869 non-null  object
 19  json_format           34012 non-null   object
 20  json_metadata         202672 non-null  object
 21  created_at            207824 non-null  object
 22  updated_at            207840 non-null  object
 23  date_derniere_action  64403 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 38.1+ MB

In [8]:
df_users.shape

(207852, 24)

In [5]:
df_users.sample(3)

,id,locale,name,statut_infolettre,statut_mailchimp,public,prenom,codepostal,pays,anciennete,...,aucun_etablissement,json_niveau,json_discipline,json_etablissement,json_centre_interet,json_format,json_metadata,created_at,updated_at,date_derniere_action
130797,133659,fr,lauriane,1,subscribed,0,NaN,1280,France,12.0,...,0,"[""CP"", ""CE1"", ""CE2""]","[""Français"", ""Mathématiques"", ""Sciences et tec...","[{""id"": 53231, ""nom"": ""ECOLE ALTERNATIVE DU PA...",NaN,NaN,"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2023-03-25 16:08:32,2023-10-28 10:27:32,2023-10-28 10:27:19
108867,111729,fr,Fadoua,0,subscribed,0,NaN,NaN,NaN,1.0,...,1,"[""CE1"", ""CE2"", ""CM1"", ""MS"", ""PS""]",[],[],NaN,NaN,"[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2022-08-25 19:59:03,2022-08-26 14:42:58,2022-08-26 16:42:54
122516,125378,fr,Liliana,0,subscribed,0,NaN,NaN,NaN,0.0,...,1,"[""CP"", ""CE1"", ""TPS"", ""CE2"", ""CM1"", ""PS"", ""MS"",...",[],[],NaN,NaN,"[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2022-12-09 06:15:29,2022-12-09 06:15:30,NaN

In [6]:
df_users.columns

Index(['id', 'locale', 'name', 'statut_infolettre', 'statut_mailchimp',
       'public', 'prenom', 'codepostal', 'pays', 'anciennete', 'statut',
       'fonction', 'fonction_longue', 'enseigne_en_eefe',
       'aucun_etablissement', 'json_niveau', 'json_discipline',
       'json_etablissement', 'json_centre_interet', 'json_format',
       'json_metadata', 'created_at', 'updated_at', 'date_derniere_action'],
      dtype='object')

## Let's drop unused columns

In [7]:
df_users.shape

(207852, 24)

### utils

In [8]:
def drop_col(string):
    if string in df_users.columns:
        df_users.drop(string, axis=1, inplace=True)
        return f"Column `{string}` dropped. New shape : {df_users.shape}"
    else:
        return f"Column `{string}` not found in DataFrame. Shape unchanged : {df_users.shape}"

### `locale`

`locale` is to determine if it's for Belgian people or other, because there is a special platform for Belgium.  
Let's drop Belgium

In [9]:
df_users = df_users[df_users.locale != "be"]
drop_col("locale")

'Column `locale` dropped. New shape : (204545, 23)'

### `public`

In [10]:
df_users.public.value_counts()

0    204545
Name: public, dtype: int64

It seems to be useless...

In [11]:
drop_col("public")

'Column `public` dropped. New shape : (204545, 22)'

### `name` and `prenom`

In [12]:
drop_col('name')
drop_col('prenom')

'Column `prenom` dropped. New shape : (204545, 20)'

### `pays`

In [13]:
df_users.pays.value_counts()

France                138273
Canada                   882
Maroc                    728
Suisse                   535
france                   438
                       ...
France                     1
Dominican Republic         1
Malaysia                   1
fran                       1
Guinée-Équatoriale         1
Name: pays, Length: 507, dtype: int64

In [14]:
df_users.pays.isna().value_counts()

False    145592
True      58953
Name: pays, dtype: int64

oh my god... let's clean this !

In [15]:
df_users['pays'] = df_users['pays'].fillna('france')
df_users['pays'] = df_users['pays'].str.lower().str.strip()

In [16]:
pays = df_users.pays.unique()
pays.sort()
pays

array(['', '600', 'afghanistan', 'afrique du sud', 'aigueperse',
       'albanie', 'algeri', 'algeria', 'algerie', 'algérie',
       'algérie/ tlemcen', 'allemagne', 'amberieu en bugey', 'amiens',
       'andorre', 'angers', 'angleterre', 'angola', 'angouleme',
       'arabie saoudite', 'arabie saudite', 'argentina', 'argentine',
       'armenia', 'arménie', 'aubervilliers', 'australie', 'autriche',
       'azerbaïdjan', 'bahrain', 'bahreïn', 'banjul', 'begique', 'bel',
       'belgique', 'belgium', 'benin', 'bolivia', 'bolivie',
       'bosnia and herzegovi', 'bosnie-herzégovine', 'bouche', 'bourges',
       'brasil', 'brazil', 'bresil', 'bretagne', 'bretagne-france',
       'brlgique', 'brèsil', 'brésil', 'bulgarie', 'burkina faso',
       'burundi', 'bénin', 'caledonie', 'cambodge', 'cambodia',
       'cameroon', 'cameroun', 'canada', 'canada (québec)', 'cananda',
       'cap-vert', 'cape verde', 'cayenne', 'central african repu',
       'chaumont en vexin', 'chile', 'chili', 'china', 'chine', 'chypre',
       'colombia', 'colombie', 'comores', 'congo', 'congo (rép. dém.)',
       'corée', 'corée du sud', 'costa rica', 'cote d ivoire',
       "cote d' ivoire", "cote d'ivoire", 'croatie', 'czech republic',
       'côte d"ivoire', "côte d'ivoire", 'côte divoire', 'côte d’ivoire',
       'danemark', 'djibouti', 'dominican republic', 'dubai', 'dubaï',
       'egypt', 'egypte', 'emirats arabes unis', 'equateur', 'espagne',
       'españa', 'estonie', 'etats unis', 'etats-unis', 'ethiopie',
       'europe', 'eysines', 'f', 'fance', 'farah', 'farnce', 'fidji',
       'finlande', 'fr', 'fra', 'fran', 'franc', 'franccccccce',
       'francce', 'france', "france  d'origine it",
       'france (ile de la ré', 'france (la réunion)', 'france (mayotte )',
       'france nouvelle-calé', 'france réunion', 'france île de la réu',
       'france/ gb/canada/us', 'france0', 'francec', 'francer', 'franche',
       'francia', 'francr', 'francs', 'frande', 'frane', 'frankreich',
       'frannce', 'franxe', 'français', 'françe', 'french guiana',
       'french polynesia', 'frnace', 'frrance', 'gabon',
       'gabon libreville', 'germany', 'ghana', 'grece', 'greece',
       'grenade', 'grèce', 'guadeloupe', 'guadeloupe (dom)',
       'guadeloupe france', 'guatemala', 'guinée', 'guinée conakry',
       'guinée-équatoriale', 'guinée/conakry', 'guyana', 'guyane',
       'guyane francaise', 'guyane française', 'guyane frse', 'géorgie',
       'haiti', 'haïti', 'honduras', 'hong kong', 'hong kong (chine)',
       'hongrie', 'ile de la reunion', 'ile de la réunion',
       'ile de la réunion (f', 'ile maurice', 'inde', 'india',
       'indonésie', 'irak', 'iran', 'iran, islamic republ', 'iraq',
       'irlande', 'islande', 'israel', 'israël', 'italia', 'italie',
       'italie siena', 'italy', 'japon', 'jordanie', 'juilliart', 'kenya',
       'khnis', 'korea, republic of', 'kosovo', 'koweït', 'la lettonie',
       'la reunion', 'la réunion', 'la tunisie', 'laos', 'le cannet',
       'le creusot', 'lebanon', 'lettonie', 'liban', 'lituanie',
       'luxembourg', 'maagascar', 'macao (chine)', 'macédoine',
       'macédoine du nord', 'madagascar', 'malaisie', 'malawi',
       'malaysia', 'mali', 'mantrs la ville', 'maoc', 'maric', 'maroc',
       'maroc -casablanca', 'martiniqie', 'martinique',
       'martinique ( france)', 'martinique (france)', 'maurice',
       'mauritanie', 'mauritius', 'mayotte', 'mexico', 'mexique',
       'micronésie', 'mirepoix', 'moldavie', 'moldova, republic of',
       'monaco', 'mongolie', 'montbéliard', 'montpellier', 'moro',
       'morocco', 'mozambique', 'mulhouse', 'nantes', 'nice', 'niger',
       'nigéria', 'non', 'norvège', 'nouvelle caledonie',
       'nouvelle calédonie', 'nouvelle camédonie', 'nouvelle- calédonie',
       'nouvelle-caledonie', 'nouvelle-calédonie', 'nouvelle-zélande',
       'oman', 'ouzbékistan', 'oyonnax', 'pakistan',
       'palestinian territor', 'panama', 'papouasie-nouvelle-guinée',
       'paraguay', 'paris', 'pays', 'pays-bas', 'peru', 'philippines',
       'pologne', 'polynesie francaise', 'polynesie française',
       'polynésie', 'polynésie française', 'porrugal', 'portugal',
       'pérou', 'qatar', 'que', 'québec', 'rd congo', 'rdc', 'rdcongo',
       'republique democrati', 'reunion', 'reunion france', 'romania',
       'romans', 'roumanie', 'royaume-uni', 'runion',
       'russian federation', 'russie', 'rwanda', 'ré',
       'république centrafricaine', 'république dominicaine',
       'république démocrati', 'république tchèque', 'réside à mayotte',
       'réunion', 'saint barthelemy', 'saint martin',
       'saint pierre and miq', 'saint-martin',
       'saint-martin (partie française)', 'salvador', 'samoa', 'sarzana',
       'saudi arabia', 'senegal', 'serbia and montenegr', 'serbie',
       'seychelles', 'singapore', 'singapour', 'slovaquie', 'slovénie',
       'st joseph', 'strasbourg', 'sucy', 'suisse', 'suissr', 'suède',
       'switzerland', 'syrian arab republic', 'sénégal', 'tahiti',
       'tahiti (polynésie fr', 'tanzania, united rep', 'tanzanie',
       'tarbes', 'taïwan', 'tchad', 'thaïlande', 'togo', 'tonga',
       'toulouse', 'tuisie', 'tunisia', 'tunisie', 'turquie', 'uae',
       'uganda', 'ukraine', 'ukrqine', 'united arab emirates',
       'united kingdom', 'united states', 'uruguay', 'usa', 'vanuatu',
       'vierzon', 'viet nam', 'vietna.', 'vietnam', 'viggiano italia',
       'viêt nam', 'zambie', 'égypte', 'émirats arables unis',
       'états unis', 'états-unis', 'île de la reunion'], dtype=object)

In [17]:
len(pays)

370

In [ ]:
variants_france = [
    'france', 'f', 'fr', 'fra', 'fran', 'franc', 'francs', 'frnace',
    'frrance', 'fance', 'farnce', 'frane', 'francr', 'frande', 'franxe',
    'frannce', 'francec', 'francer', 'français', 'françe', 'francia',
    'francce', 'franccccccce', 'franche', 'france0', 'frankreich',
    "france  d'origine it", 'france (ile de la ré', 'france nouvelle-calé',
    'france réunion', 'france île de la réu', 'france/ gb/canada/us',
    'guadeloupe', 'guadeloupe (dom)', 'guadeloupe france',
    'martinique', 'martiniqie', 'martinique (france)', 'martinique ( france)',
    'réunion', 'reunion', 'runion', 'reunion france', 'la reunion', 'la réunion',
    'ile de la reunion', 'ile de la réunion', 'ile de la réunion (f',
    'île de la reunion',
    'guyane', 'guyane française', 'guyane francaise', 'french guiana',
    'mayotte', 'réside à mayotte',
    'nouvelle calédonie', 'nouvelle-calédonie', 'nouvelle calédonie',
    'nouvelle caledonie', 'nouvelle-caledonie', 'nouvelle camédonie',
    'nouvelle- calédonie', 'caledonie',
    'polynésie française', 'polynesie française', 'polynesie francaise',
    'polynésie', 'french polynesia', 'tahiti', 'tahiti (polynésie fr',
    'saint-martin', 'saint martin', 'saint-martin (partie française)',
    'saint barthelemy', 'saint pierre and miq',
    'maurice', 'ile maurice',
    'france (la réunion)', 'france (mayotte )', 'bretagne-france',
    'paris', 'nice', 'angers', 'strasbourg', 'bourges', 'tarbes',
    'montpellier', 'nantes', 'toulouse', 'mulhouse', 'cayenne', 'mirepoix',
    'eysines', 'aubervilliers', 'amiens', 'angouleme', 'vierzon',
    'le cannet', 'oyonnax', 'romans', 'chaumont en vexin', 'sucy',
    'amberieu en bugey', 'aigueperse', 'le creusot', 'mantrs la ville',
    'montbéliard', 'st joseph', 'bretagne', '', '600'
]

df_users.loc[df_users['pays'].isin(variants_france), 'pays'] = 'france'

df_users.loc[df_users['pays'].isin(['', '600']), 'pays'] = 'france'

In [19]:
pays = df_users.pays.unique()
pays.sort()
pays

array(['afghanistan', 'afrique du sud', 'albanie', 'algeri', 'algeria',
       'algerie', 'algérie', 'algérie/ tlemcen', 'allemagne', 'andorre',
       'angleterre', 'angola', 'arabie saoudite', 'arabie saudite',
       'argentina', 'argentine', 'armenia', 'arménie', 'australie',
       'autriche', 'azerbaïdjan', 'bahrain', 'bahreïn', 'banjul',
       'begique', 'bel', 'belgique', 'belgium', 'benin', 'bolivia',
       'bolivie', 'bosnia and herzegovi', 'bosnie-herzégovine', 'bouche',
       'brasil', 'brazil', 'bresil', 'brlgique', 'brèsil', 'brésil',
       'bulgarie', 'burkina faso', 'burundi', 'bénin', 'cambodge',
       'cambodia', 'cameroon', 'cameroun', 'canada', 'canada (québec)',
       'cananda', 'cap-vert', 'cape verde', 'central african repu',
       'chile', 'chili', 'china', 'chine', 'chypre', 'colombia',
       'colombie', 'comores', 'congo', 'congo (rép. dém.)', 'corée',
       'corée du sud', 'costa rica', 'cote d ivoire', "cote d' ivoire",
       "cote d'ivoire", 'croatie', 'czech republic', 'côte d"ivoire',
       "côte d'ivoire", 'côte divoire', 'côte d’ivoire', 'danemark',
       'djibouti', 'dominican republic', 'dubai', 'dubaï', 'egypt',
       'egypte', 'emirats arabes unis', 'equateur', 'espagne', 'españa',
       'estonie', 'etats unis', 'etats-unis', 'ethiopie', 'europe',
       'farah', 'fidji', 'finlande', 'france', 'gabon',
       'gabon libreville', 'germany', 'ghana', 'grece', 'greece',
       'grenade', 'grèce', 'guatemala', 'guinée', 'guinée conakry',
       'guinée-équatoriale', 'guinée/conakry', 'guyana', 'guyane frse',
       'géorgie', 'haiti', 'haïti', 'honduras', 'hong kong',
       'hong kong (chine)', 'hongrie', 'inde', 'india', 'indonésie',
       'irak', 'iran', 'iran, islamic republ', 'iraq', 'irlande',
       'islande', 'israel', 'israël', 'italia', 'italie', 'italie siena',
       'italy', 'japon', 'jordanie', 'juilliart', 'kenya', 'khnis',
       'korea, republic of', 'kosovo', 'koweït', 'la lettonie',
       'la tunisie', 'laos', 'lebanon', 'lettonie', 'liban', 'lituanie',
       'luxembourg', 'maagascar', 'macao (chine)', 'macédoine',
       'macédoine du nord', 'madagascar', 'malaisie', 'malawi',
       'malaysia', 'mali', 'maoc', 'maric', 'maroc', 'maroc -casablanca',
       'mauritanie', 'mauritius', 'mexico', 'mexique', 'micronésie',
       'moldavie', 'moldova, republic of', 'monaco', 'mongolie', 'moro',
       'morocco', 'mozambique', 'niger', 'nigéria', 'non', 'norvège',
       'nouvelle-zélande', 'oman', 'ouzbékistan', 'pakistan',
       'palestinian territor', 'panama', 'papouasie-nouvelle-guinée',
       'paraguay', 'pays', 'pays-bas', 'peru', 'philippines', 'pologne',
       'porrugal', 'portugal', 'pérou', 'qatar', 'que', 'québec',
       'rd congo', 'rdc', 'rdcongo', 'republique democrati', 'romania',
       'roumanie', 'royaume-uni', 'russian federation', 'russie',
       'rwanda', 'ré', 'république centrafricaine',
       'république dominicaine', 'république démocrati',
       'république tchèque', 'salvador', 'samoa', 'sarzana',
       'saudi arabia', 'senegal', 'serbia and montenegr', 'serbie',
       'seychelles', 'singapore', 'singapour', 'slovaquie', 'slovénie',
       'suisse', 'suissr', 'suède', 'switzerland', 'syrian arab republic',
       'sénégal', 'tanzania, united rep', 'tanzanie', 'taïwan', 'tchad',
       'thaïlande', 'togo', 'tonga', 'tuisie', 'tunisia', 'tunisie',
       'turquie', 'uae', 'uganda', 'ukraine', 'ukrqine',
       'united arab emirates', 'united kingdom', 'united states',
       'uruguay', 'usa', 'vanuatu', 'viet nam', 'vietna.', 'vietnam',
       'viggiano italia', 'viêt nam', 'zambie', 'égypte',
       'émirats arables unis', 'états unis', 'états-unis'], dtype=object)

In [20]:
df_users.pays.value_counts()

france                  198895
canada                     904
maroc                      835
suisse                     547
belgium                    257
                         ...
rdcongo                      1
pays                         1
iran, islamic republ         1
cape verde                   1
guinée-équatoriale           1
Name: pays, Length: 261, dtype: int64

In [21]:
df_users = df_users[df_users.pays == 'france']
df_users.shape

(198895, 20)

In [22]:
df_users.pays.value_counts()

france    198895
Name: pays, dtype: int64

In [23]:
drop_col('pays')

'Column `pays` dropped. New shape : (198895, 19)'

### `statut`

In [24]:
df_users.statut.value_counts()

Contractuel                                 6350
Fonctionnaire stagiaire                     4806
Titulaire                                   2761
Préparationnaire au concours                2211
Etudiant en M1 MEEF                         1179
Etudiant en M2 MEEF                          891
Etudiant Contractuel Alternant (M2 MEEF)     761
Name: statut, dtype: int64

Good to know : users never updates there profile... So... it can't be used. Let's drop this column

In [25]:
drop_col('statut')

'Column `statut` dropped. New shape : (198895, 18)'

### `fonction`

In [26]:
df_users.fonction.value_counts()

Professeure des écoles en maternelle                                                                                       2
Formatrice chez ENQUÊTE                                                                                                    2
Professeure des écoles depuis 2012                                                                                         2
Professeur en lycée professionnel depuis 2012                                                                              2
Professeure documentaliste en collège depuis 1997 et facilitatrice qualifiée en discipline positive                        2
                                                                                                                          ..
Professeure de mathématiques depuis 2005 et chargée de mission pour la CARDIE                                              1
Coordonnatrice Ulis au collège depuis 2020                                                                                 1
enseignante en maternelle depuis 16 ans                                                                                    1
Professeure en lycée pro depuis 2006                                                                                       1
Professeur des écoles depuis 16 ans, @livrespourpetiots chroniques de littérature jeunesse, poèmes, idées pédagogiques.    1
Name: fonction, Length: 189, dtype: int64

In [27]:
df_users.fonction.isna().value_counts()

True     198696
False       199
Name: fonction, dtype: int64

In [28]:
df_users.fonction_longue.value_counts()

Professeure des écoles en élémentaire depuis 2019                                                                                                                                                                                                                                                                                                                                                              2
Jocelyne RAJOHNSON DELAN \n- ⁠Professeure des écoles depuis 2019. \n- ⁠Passionée par le monde de l’éducation et de la parentalité, je suis également Psychopédagogue et Consultante en Parentalité Positive pour accompagner parents et enfants. \n- ⁠Mon compte Instagram: 🐨 Monpetitnideveil 🐨\n                                                                                                             1
Professeur des écoles en Bretagne depuis 2009, j’ai enseigné en cycle 3, puis en cycle 2, avant de revenir au cycle 3. Actuellement en CM1, je mets en œuvre une pédagogie personnalisée et un enseignement flexible, adaptés aux besoins de chaque élève. Je m’attache également à développer la conception universelle de l’apprentissage, afin de rendre mes pratiques inclusives et accessibles à tous.    1
Maîtresse d'école hyperactive dans les quartiers Nord de Marseille, autrice, maman, difficile à suivre, pleine d'idées et d'humour (souvent incompris !). Professeur des écoles depuis 2015 je me lance dans mon nouveau métier avec passion.\nChaque jour, je vous raconte une anecdote de ma vie de maîtresse sur le compte Maîtresse Tête en l'air sur Instagram.\n                                         1
Professeure d’arts (arts plastiques, arts appliqués, techniques graphiques, histoire des arts et chef d’oeuvre) au collège et lycée depuis 2014                                                                                                                                                                                                                                                                1
Professeure des écoles depuis 2016 et professeure itinérante auprès des élèves allophones nouvellement arrivés (EANA) et des enfants du voyage (EFIV) depuis 2021                                                                                                                                                                                                                                              1
Enseignante spécialisée, coordinatrice d’unité d’enseignement et formatrice                                                                                                                                                                                                                                                                                                                                    1
\n\n                                                                                                                                                                                                                                                                                                                                                                                                           1
PEMF et professeure des écoles depuis 2007\n                                                                                                                                                                                                                                                                                                                                                                   1
Professeure de physique chimie au collège depuis 2006                                                                                                                                                                                                                                                                                                                                                          1
Instit du cycle 2, passionnée par la conception et le travail en ateliers autonomes. Adepte des doubles niveaux  des classes multiples. Fraîchement certifiée cafipemf.                                                                                                                                                                                                                                        1
Chargée d'accompagnement de la communauté mentors d'ÊtrePROF et de programmation des ateliers                                                                                                                                                                                                                                                                                                                  1
Chargé de mission scientifique formé à l’étude scientifique des stéréotypes de genre et aux questions d'égalité des chances à l’école                                                                                                                                                                                                                                                                          1
professeure des écoles depuis 2007, formatrice en pédagogie personnalisée et communautaire                                                                                                                                                                                                                                                                                                                     1
Coordonnatrice Ulis au collège depuis 2020                                                                                                                                                                                                                                                                                                                                                                     1
Professeur d'éco-gestion en lycée professionnel depuis 2012                                                                                                                                                                                                                                                                                                                                                    1
Professeure des écoles en maternelle                                                                                                                                                                                                                                                                                                                                                                           1
Professeur des écoles depuis 16 ans, enseigne à Nantes depuis plusieurs années. Maman de deux adorables fillettes. \nTeam CM2 for ever, j'anime depuis 5 ans un compte instagram @livrespourpetiots qui propose des chroniques de littérature jeunesse, des poèmes et d'idées pédagogiques.                                                                                                                    1
Name: fonction_longue, dtype: int64

In [29]:
df_users.fonction_longue.isna().value_counts()

True     198876
False        19
Name: fonction_longue, dtype: int64

It's useless, it's just for some author on website → Let's drop !

In [30]:
drop_col('fonction')

'Column `fonction` dropped. New shape : (198895, 17)'

In [31]:
drop_col('fonction_longue')

'Column `fonction_longue` dropped. New shape : (198895, 16)'

### `enseigne_en_eefe`

In [32]:
df_users.enseigne_en_eefe.value_counts()

0    198886
1         9
Name: enseigne_en_eefe, dtype: int64

Not a lot of people → Let's drop

In [33]:
drop_col('enseigne_en_eefe')

'Column `enseigne_en_eefe` dropped. New shape : (198895, 15)'

### `date_derniere_action`

It will be determined with the `interactions` table. So let's drop.  
Same for `updated_at`

In [34]:
drop_col('date_derniere_action')

'Column `date_derniere_action` dropped. New shape : (198895, 14)'

In [35]:
drop_col('updated_at')

'Column `updated_at` dropped. New shape : (198895, 13)'

### `json_format`

In [36]:
df_users.json_format.value_counts()

[]                             31657
["PDF"]                           78
["Vidéo", "Article", "PDF"]       62
["Article", "PDF"]                47
["PDF", "Article"]                35
["PDF", "Article", "Vidéo"]       27
["Vidéo", "PDF"]                  26
["Vidéo"]                         25
["PDF", "Vidéo"]                  21
["Article"]                       13
["Vidéo", "PDF", "Article"]        8
["PDF", "Vidéo", "Article"]        7
["Article", "PDF", "Vidéo"]        6
["Vidéo", "Article"]               6
["Article", "Vidéo"]               4
["Article", "Vidéo", "PDF"]        2
Name: json_format, dtype: int64

It seems to be an old column, with few answers. → Let's drop

In [37]:
drop_col('json_format')

'Column `json_format` dropped. New shape : (198895, 12)'

### `json_centre_interet`

In [38]:
df_users.json_centre_interet.value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               85972
["Organisation", "Politiques éducatives", "Théorie des apprentissages", "Neurosciences", "Psychologie de l’enfant", "Didactique", "Numérique", "Classe inversée", "Inspirations internationales", "Connaissance de soi", "Techniques corporelles", "Leadership", "Pratiques collaboratives", "Interdisciplinarité", "Outils de communication", "Créativité", "Analyse de pratiques", "Communauté éducative", "Discriminations", "Laïcité", "Esprit critique", "Education à l'environnement", "Education à la santé", "Education aux médias", "Apprendre à apprendre", "Orientation", "Climat de classe", "Aménagement de la classe", "Explicitation", "Différenciation ", "Autonomie des élèves", "Pédagogies actives", "Outils d’évaluation", "Pédagogie de projet ", "Enseignement spécialisé", "Elèves allophones", "Elèves à besoin spécifique", "Education prioritaire"]       96
["Organisation"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    85
["Climat de classe", "Aménagement de la classe", "Explicitation", "Différenciation ", "Autonomie des élèves", "Pédagogies actives", "Outils d’évaluation", "Pédagogie de projet "]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  52
["Organisation", "Pédagogies actives"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              18
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
["Neurosciences", "Psychologie de l’enfant", "Didactique", "Apprendre à apprendre", "Climat de classe", "Différenciation ", "Autonomie des élèves", "Pédagogies actives", "Pédagogie de projet ", "Elèves à besoin spécifique", "Education prioritaire"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
["Organisation", "Neurosciences", "Numérique", "Classe inversée", "Connaissance de soi", "Pratiques collaboratives", "Apprendre à apprendre", "Aménagement de la classe", "Différenciation ", "Elèves à besoin spécifique"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
["Organisation", "Politiques éducatives", "Théorie des apprentissages", "Neurosciences", "Psychologie de l’enfant", "Didactique", "Inspirations internationales", "Connaissance de soi", "Outils de communication", "Créativité", "Communauté éducative", "Laïcité", "Esprit critique", "Apprendre à apprendre", "Climat de classe", "Aménagement de la classe", "Explicitation", "Différenciation ", "Autonomie des élèves", "Education prioritaire"]                                                                                                                                                                                                                                                                                                                                                                                                                               1
["Organisation", "Neurosciences", "Pratiques collaboratives", "Autonomie des élèves", "Outils d’évaluation", "Education prioritaire"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
["Apprendre à connaître ses élèves","Prendre soin de sa voix","Période 1","Période 2","Période 3","Periode 4","Période 5","Rentrée","Organiser son temps de préparation","Faire classe pour tous avant de différencier","Apprendre à vivre et travailler ensemble","Construire des séances pédagogiques pour engager ses élèves dans leurs apprentissages","Incarner des postures professionnelles choisies","Installer les règles de la classe et envisager les sanctions","Mettre en place des rituels pour structurer son temps de classe","Aménager sa classe au service de sa pédagogie","Évaluer ses élèves pour leur permettre de se situer dans leurs apprentissages","Entrer en relation avec les parents et installer une communication efficiente","S'approprier les programmes","Gérer le stress de la rentrée"]                                                         1
Name: json_centre_interet, Length: 14332, dtype: int64

In [39]:
df_users.json_centre_interet.isna().value_counts()

False    101055
True      97840
Name: json_centre_interet, dtype: int64

Around 100 000 with no info. And 85 000 with all selected. → Let's drop !

In [40]:
drop_col('json_centre_interet')

'Column `json_centre_interet` dropped. New shape : (198895, 11)'

## Explore other columns

### `json_niveau`

In [41]:
df_users.json_niveau.unique()

array(['["MS"]', '[]', '["PS"]', ..., '["CM1","CM2","CP"]',
       '["2nde","5e","1ère","3e","Terminale"]', '["CP","PS","CE1"]'],
      dtype=object)

In [42]:
df_users.json_niveau.isna().value_counts()

False    198891
True          4
Name: json_niveau, dtype: int64

#### Clean Niveau

In [43]:
explo_niveaux = df_users.json_niveau.dropna().unique()

In [44]:
explo_niveaux.sort()
explo_niveaux

array(['["", "PS"]', '["1ère", "2nde", "4e", "3e"]',
       '["1ère", "2nde", "POST BAC"]', ..., '["Études supérieures"]',
       '["Étudiant stagiaire"]', '[]'], dtype=object)

In [45]:
(df_users['json_niveau'] == '[]').sum()

6692

In [46]:
all_niveaux = set()

for niveaux_str in df_users['json_niveau'].dropna():
    try:
        niveaux_list = json.loads(niveaux_str)
        all_niveaux.update(niveaux_list)  # Ajouter tous les éléments au set
    except:
        print(f"Erreur de parsing pour : {niveaux_str}")

In [47]:
display(all_niveaux)
display(len(all_niveaux))

{'',
 '1ère',
 '2nde',
 '3e',
 '4e',
 '5e',
 '6e',
 '6ème primaire',
 'ASH',
 'Autres',
 'Bac Pro',
 'CAP',
 'CE1',
 'CE2',
 'CM1',
 'CM2',
 'CP',
 'Collège',
 'Direction',
 'Elémentaire',
 'Enseignement spécialisé',
 'Formateur-trice /Inspecteur-trice',
 'GS',
 'Lycée',
 'MS',
 'Maternelle',
 'POST BAC',
 'PS',
 'Professeur-e documentaliste',
 'SEGPA',
 'TPS',
 'Terminale',
 'Études supérieures',
 'Étudiant stagiaire'}

34

In [48]:
# Compter chaque niveau individuellement
niveau_counts = Counter()

for niveaux_str in df_users['json_niveau'].dropna():
    niveaux_list = json.loads(niveaux_str)
    niveau_counts.update(niveaux_list)

print("Fréquence de chaque niveau :")
for niveau, count in niveau_counts.most_common():
    print(f"  {niveau}: {count}")

Fréquence de chaque niveau :
  3e: 26328
  6e: 26078
  4e: 25041
  5e: 24667
  GS: 23100
  CE2: 22502
  MS: 22077
  CM1: 21916
  CE1: 21838
  CP: 21649
  CM2: 20864
  PS: 19899
  2nde: 14123
  Bac Pro: 12398
  1ère: 12099
  Terminale: 11928
  ASH: 8133
  TPS: 6931
  POST BAC: 5478
  CAP: 5331
  Formateur-trice /Inspecteur-trice: 5250
  SEGPA: 2586
  Direction: 1873
  Professeur-e documentaliste: 942
  Études supérieures: 7
  Enseignement spécialisé: 7
  Maternelle: 4
  Elémentaire: 2
  Collège: 2
  Lycée: 2
  Étudiant stagiaire: 2
  6ème primaire: 2
  : 1
  Autres: 1

In [ ]:
categories_rares = [
    "Études supérieures", "Enseignement spécialisé", "Maternelle",
    "Elémentaire", "Collège", "Lycée", "Étudiant stagiaire",
    "6ème primaire", "", "Autres"
]

def contains_rare_category(niveaux_str):
    if pd.isna(niveaux_str):
        return False
    niveaux_list = json.loads(niveaux_str)
    return any(niveau in categories_rares for niveau in niveaux_list)

mask_rare = df_users['json_niveau'].apply(contains_rare_category)

df_rare = df_users[mask_rare].copy()
df_rare

,id,statut_infolettre,statut_mailchimp,codepostal,anciennete,aucun_etablissement,json_niveau,json_discipline,json_etablissement,json_metadata,created_at
6,7,1,subscribed,31130,25.0,0,"[""CP"", ""Elémentaire"", ""CE1"", ""CE2"", ""CM1"", ""PS...",[],"[{""id"": 1901, ""nom"": ""Ecole élémentaire publiq...","[{""key"":""newsletter"",""value"":""undefined"",""crea...",2017-01-15 16:50:11
780,781,1,subscribed,94400,3.0,1,"["""", ""PS""]",[],NaN,"[{""key"": ""parcoursOffertCanvasId"", ""value"": 44...",2017-08-17 09:16:35
20180,20386,1,unsubscribed,NaN,0.0,1,"[""TPS"", ""PS"", ""MS"", ""GS"", ""Maternelle""]",[],NaN,"[{""key"": ""programme_thematique"", ""value"": null...",2019-04-24 08:22:53
40120,42074,0,subscribed,31060,18.0,0,"[""Études supérieures""]",[],"[{""id"": 1968, ""nom"": ""Lycée professionnel priv...","[{""key"": ""inscrit_caprentree"", ""value"": ""true""...",2020-08-20 12:00:56
85286,88019,1,subscribed,72405,15.0,1,"[""TPS"", ""PS"", ""MS"", ""GS"", ""Maternelle"", ""CP"", ...","[""Mathématiques"", ""Sciences et technologies""]",[],"[{""key"": ""etablissement_1"", ""value"": """", ""crea...",2021-10-21 13:06:33
90263,93125,1,subscribed,NaN,0.0,1,"[""TPS"",""PS"",""MS"",""GS"",""Maternelle"",""Direction""]",[],[],"[{""key"":""newsletter"",""value"":""true"",""created_a...",2022-02-08 09:04:53
114254,117116,1,subscribed,NaN,NaN,1,"[""6e"", ""5e"", ""4e"", ""3e"", ""Collège""]",[],[],"[{""key"": ""neo2023"", ""value"": ""true"", ""created_...",2022-09-29 19:10:51
119129,121991,0,subscribed,82500,20.0,0,"[""ASH"", ""Enseignement spécialisé""]",[],"[{""id"": 37170, ""nom"": ""Collège Théodore Despey...","[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2022-11-04 08:48:18
140885,143747,0,subscribed,95680,1.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 19224, ""nom"": ""Ecole primaire publique...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2023-07-19 15:05:16
142145,145007,1,subscribed,51450,3.0,0,"[""2nde"", ""1ère"", ""Terminale"", ""Bac Pro"", ""Lycée""]","[""Histoire et géographie""]","[{""id"": 7659, ""nom"": ""Ecole maternelle la riba...","[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2023-07-25 10:07:34
194847,197716,1,subscribed,75001,0.0,0,"[""TPS"",""PS"",""MS"",""GS"",""Maternelle""]",[],"[{""id"":3801,""nom"":""E.E.PU CAMBON 28 rue Cambon...","[{""key"":""newsletter"",""value"":""undefined"",""crea...",2024-11-15 09:56:38
196802,199671,1,subscribed,NaN,42.0,1,"[""Enseignement spécialisé""]","[""Arts""]",[],"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2024-12-20 07:55:41
196805,199674,0,subscribed,NaN,19.0,1,"[""Études supérieures""]","[""Mathématiques""]",[],"[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-20 10:51:31
196813,199682,0,subscribed,NaN,25.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-20 18:41:48
196856,199725,0,unsubscribed,NaN,1.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": false, ""create...",2024-12-22 22:02:54
196874,199743,0,subscribed,NaN,59.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-23 16:00:18
196885,199754,1,subscribed,NaN,32.0,1,"[""Enseignement spécialisé""]","[""Mathématiques""]",[],"[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-24 10:11:40
196922,199791,1,subscribed,NaN,0.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2024-12-26 08:26:42
196934,199803,0,subscribed,64050,1.0,0,"[""CAP"", ""SEGPA"", ""Étudiant stagiaire"", ""Bac Pro""]","[""Sciences et technologies"", ""Enseignement pro...","[{""id"": 53145, ""nom"": ""Lycée professionnel Hon...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-26 17:04:31
196942,199811,0,subscribed,91170,27.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 11854, ""nom"": ""Ecole élémentaire Rolan...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-27 09:30:35
196945,199814,0,subscribed,62700,20.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 9488, ""nom"": ""Collège Edmond Rostand"",...","[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-27 12:01:49
196948,199817,0,subscribed,92250,1.0,0,"[""6ème primaire""]",[],"[{""id"": 11306, ""nom"": ""Ecole élémentaire publi...","[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-27 13:42:09
196956,199825,0,subscribed,53200,20.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 35418, ""nom"": ""Collège Jean Rostand"", ...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-27 17:55:29
196977,199846,0,subscribed,39700,0.0,0,"[""Études supérieures""]",[],"[{""id"": 49938, ""nom"": ""Collège Gustave Eiffel""...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-29 10:06:07
197022,199891,1,subscribed,NaN,0.0,1,"[""Étudiant stagiaire""]","[""Enseignement professionnel""]",[],"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2024-12-30 19:12:44
198318,201187,0,subscribed,NaN,15.0,1,"[""6ème primaire"",""CP""]",[],[],"[{""key"":""newsletter"",""value"":""undefined"",""crea...",2025-01-28 15:29:13

In [ ]:
categories_rares = [
    "Études supérieures", "Enseignement spécialisé", "Maternelle",
    "Elémentaire", "Collège", "Lycée", "Étudiant stagiaire",
    "6ème primaire", "", "Autres"
]

def clean_json_niveau(niveaux_str):
    if pd.isna(niveaux_str):
        return niveaux_str

    try:
        niveaux_list = json.loads(niveaux_str)

        # Séparer les éléments rares des éléments valides
        elements_rares = [niveau for niveau in niveaux_list if niveau in categories_rares]
        elements_valides = [niveau for niveau in niveaux_list if niveau not in categories_rares]

        # Si il y a des éléments valides, on garde que ceux-là
        if elements_valides:
            return json.dumps(elements_valides, ensure_ascii=False)
        # Sinon, on garde les éléments rares (cas où il n'y a que ça)
        else:
            return json.dumps(elements_rares, ensure_ascii=False)

    except:
        return niveaux_str

# Appliquer le nettoyage
df_users['json_niveau'] = df_users['json_niveau'].apply(clean_json_niveau)

In [51]:
mask_rare = df_users['json_niveau'].apply(contains_rare_category)

df_rare = df_users[mask_rare].copy()
df_rare

,id,statut_infolettre,statut_mailchimp,codepostal,anciennete,aucun_etablissement,json_niveau,json_discipline,json_etablissement,json_metadata,created_at
40120,42074,0,subscribed,31060,18.0,0,"[""Études supérieures""]",[],"[{""id"": 1968, ""nom"": ""Lycée professionnel priv...","[{""key"": ""inscrit_caprentree"", ""value"": ""true""...",2020-08-20 12:00:56
140885,143747,0,subscribed,95680,1.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 19224, ""nom"": ""Ecole primaire publique...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2023-07-19 15:05:16
196802,199671,1,subscribed,NaN,42.0,1,"[""Enseignement spécialisé""]","[""Arts""]",[],"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2024-12-20 07:55:41
196805,199674,0,subscribed,NaN,19.0,1,"[""Études supérieures""]","[""Mathématiques""]",[],"[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-20 10:51:31
196813,199682,0,subscribed,NaN,25.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-20 18:41:48
196856,199725,0,unsubscribed,NaN,1.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": false, ""create...",2024-12-22 22:02:54
196874,199743,0,subscribed,NaN,59.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-23 16:00:18
196885,199754,1,subscribed,NaN,32.0,1,"[""Enseignement spécialisé""]","[""Mathématiques""]",[],"[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-24 10:11:40
196922,199791,1,subscribed,NaN,0.0,1,"[""Études supérieures""]",[],[],"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2024-12-26 08:26:42
196942,199811,0,subscribed,91170,27.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 11854, ""nom"": ""Ecole élémentaire Rolan...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-27 09:30:35
196945,199814,0,subscribed,62700,20.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 9488, ""nom"": ""Collège Edmond Rostand"",...","[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-27 12:01:49
196948,199817,0,subscribed,92250,1.0,0,"[""6ème primaire""]",[],"[{""id"": 11306, ""nom"": ""Ecole élémentaire publi...","[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-27 13:42:09
196956,199825,0,subscribed,53200,20.0,0,"[""Enseignement spécialisé""]",[],"[{""id"": 35418, ""nom"": ""Collège Jean Rostand"", ...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-27 17:55:29
196977,199846,0,subscribed,39700,0.0,0,"[""Études supérieures""]",[],"[{""id"": 49938, ""nom"": ""Collège Gustave Eiffel""...","[{""key"": ""newsletter"", ""value"": ""false"", ""crea...",2024-12-29 10:06:07
197022,199891,1,subscribed,NaN,0.0,1,"[""Étudiant stagiaire""]","[""Enseignement professionnel""]",[],"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2024-12-30 19:12:44

In [ ]:
niveaux_rares_remain = set()

for niveaux_str in df_rare['json_niveau'].dropna():
    try:
        niveaux_list = json.loads(niveaux_str)
        niveaux_rares_remain.update(niveaux_list)
    except:
        print(f"Erreur de parsing pour : {niveaux_str}")

In [53]:
niveaux_rares_remain

{'6ème primaire',
 'Enseignement spécialisé',
 'Études supérieures',
 'Étudiant stagiaire'}

In [ ]:
def replace_categories(niveaux_str):
    if pd.isna(niveaux_str):
        return niveaux_str

    try:
        niveaux_list = json.loads(niveaux_str)

        # Remplacer les catégories
        niveaux_replaced = []
        for niveau in niveaux_list:
            if niveau == "Enseignement spécialisé":
                niveaux_replaced.append("ASH")
            elif niveau == "Études supérieures":
                niveaux_replaced.append("POST BAC")
            else:
                niveaux_replaced.append(niveau)

        return json.dumps(niveaux_replaced, ensure_ascii=False)

    except:
        return niveaux_str

df_users['json_niveau'] = df_users['json_niveau'].apply(replace_categories)

In [55]:
mask_rare = df_users['json_niveau'].apply(contains_rare_category)

df_rare = df_users[mask_rare].copy()
df_rare

,id,statut_infolettre,statut_mailchimp,codepostal,anciennete,aucun_etablissement,json_niveau,json_discipline,json_etablissement,json_metadata,created_at
196948,199817,0,subscribed,92250,1.0,0,"[""6ème primaire""]",[],"[{""id"": 11306, ""nom"": ""Ecole élémentaire publi...","[{""key"": ""newsletter"", ""value"": ""undefined"", ""...",2024-12-27 13:42:09
197022,199891,1,subscribed,NaN,0.0,1,"[""Étudiant stagiaire""]","[""Enseignement professionnel""]",[],"[{""key"": ""newsletter"", ""value"": ""true"", ""creat...",2024-12-30 19:12:44

In [56]:
df_users = df_users.drop([196948, 197022])

In [57]:
df_users = df_users.reset_index(drop=True)

In [58]:
all_niveaux = set()

for niveaux_str in df_users['json_niveau'].dropna():
    try:
        niveaux_list = json.loads(niveaux_str)
        all_niveaux.update(niveaux_list)  # Ajouter tous les éléments au set
    except:
        print(f"Erreur de parsing pour : {niveaux_str}")
display(all_niveaux)
display(len(all_niveaux))

{'1ère',
 '2nde',
 '3e',
 '4e',
 '5e',
 '6e',
 'ASH',
 'Bac Pro',
 'CAP',
 'CE1',
 'CE2',
 'CM1',
 'CM2',
 'CP',
 'Direction',
 'Formateur-trice /Inspecteur-trice',
 'GS',
 'MS',
 'POST BAC',
 'PS',
 'Professeur-e documentaliste',
 'SEGPA',
 'TPS',
 'Terminale'}

24

In [59]:
# Compter chaque niveau individuellement
niveau_counts = Counter()

for niveaux_str in df_users['json_niveau'].dropna():
    niveaux_list = json.loads(niveaux_str)
    niveau_counts.update(niveaux_list)

print("Fréquence de chaque niveau :")
for niveau, count in niveau_counts.most_common():
    print(f"  {niveau}: {count}")

Fréquence de chaque niveau :
  3e: 26328
  6e: 26078
  4e: 25041
  5e: 24667
  GS: 23100
  CE2: 22502
  MS: 22077
  CM1: 21916
  CE1: 21838
  CP: 21649
  CM2: 20864
  PS: 19899
  2nde: 14123
  Bac Pro: 12398
  1ère: 12099
  Terminale: 11928
  ASH: 8139
  TPS: 6931
  POST BAC: 5485
  CAP: 5331
  Formateur-trice /Inspecteur-trice: 5250
  SEGPA: 2586
  Direction: 1873
  Professeur-e documentaliste: 942

#### OneHotEncode Niveaux

In [60]:
all_niveaux

{'1ère',
 '2nde',
 '3e',
 '4e',
 '5e',
 '6e',
 'ASH',
 'Bac Pro',
 'CAP',
 'CE1',
 'CE2',
 'CM1',
 'CM2',
 'CP',
 'Direction',
 'Formateur-trice /Inspecteur-trice',
 'GS',
 'MS',
 'POST BAC',
 'PS',
 'Professeur-e documentaliste',
 'SEGPA',
 'TPS',
 'Terminale'}

In [61]:
# Drop where niveaux is NaN
df_users = df_users.drop([33664, 33721, 33745, 52368])
df_users = df_users.reset_index(drop=True)

In [62]:
for niveau in sorted(all_niveaux):
    col_name = f"niveau_{niveau}".replace(" ", "_").replace("-", "_").replace("è", "e").replace("é", "e").lower()
    df_users[col_name] = 0

In [63]:
for idx, niveaux_str in df_users['json_niveau'].items():
    niveaux_list = json.loads(niveaux_str)
    for niveau in niveaux_list:
        col_name = f"niveau_{niveau}".replace(" ", "_").replace("-", "_").replace("è", "e").replace("é", "e").lower()
        if col_name in df_users.columns:
            df_users.loc[idx, col_name] = 1

####  Encode `degre`

In [ ]:
# Définir les niveaux par degré
niveaux_primaires = ['TPS', 'PS', 'MS', 'GS', 'CP', 'CE1', 'CE2', 'CM1', 'CM2', 'Direction', 'ASH']
niveaux_secondaires = ['6e', '5e', '4e', '3e', '2nde', '1ère', 'Terminale', 'Bac Pro', 'CAP', 'SEGPA', 'Professeur-e documentaliste', 'POST BAC']
niveaux_formateurs = ['Formateur-trice /Inspecteur-trice']

# Créer la colonne degre (0 par défaut)
df_users['degre'] = 0

# Remplir la colonne
for idx, niveaux_str in df_users['json_niveau'].items():
    if isinstance(niveaux_str, str):
        try:
            niveaux_list = json.loads(niveaux_str)

            # Compter par catégorie
            count_primaire = sum(1 for niveau in niveaux_list if niveau in niveaux_primaires)
            count_secondaire = sum(1 for niveau in niveaux_list if niveau in niveaux_secondaires)
            count_formateur = sum(1 for niveau in niveaux_list if niveau in niveaux_formateurs)

            # Logique de priorité : formateur > majorité primaire/secondaire
            if count_formateur > 0:
                df_users.loc[idx, 'degre'] = 3  # Formateur
            elif count_primaire > count_secondaire:
                df_users.loc[idx, 'degre'] = 1  # Primaire
            elif count_secondaire > count_primaire:
                df_users.loc[idx, 'degre'] = 2  # Secondaire
            elif count_primaire == count_secondaire and count_primaire > 0:
                df_users.loc[idx, 'degre'] = 1  # En cas d'égalité, primaire par défaut

        except:
            pass

#### Encode `grandsNiveaux`

In [ ]:
niveaux_maternelle = ['TPS', 'PS', 'MS', 'GS', 'Direction','ASH']
niveaux_elementaire = ['CP', 'CE1', 'CE2', 'CM1', 'CM2', 'ASH', 'Direction']
niveaux_college = ['6e', '5e', '4e', '3e', 'SEGPA', 'Professeur-e documentaliste']
niveaux_lycee = ['2nde', '1ère', 'Terminale', 'Professeur-e documentaliste']
niveaux_lycee_pro = ['Bac Pro', 'CAP']
niveaux_autre = ['POST BAC', 'Formateur-trice /Inspecteur-trice']

etablissements = ['maternelle', 'elementaire', 'college', 'lycee', 'lycee_pro', 'autre']

for etab in etablissements:
    df_users[etab] = 0

for idx, niveaux_str in df_users['json_niveau'].items():
    if isinstance(niveaux_str, str):
        try:
            niveaux_list = json.loads(niveaux_str)

            if any(niveau in niveaux_maternelle for niveau in niveaux_list):
                df_users.loc[idx, 'maternelle'] = 1
            if any(niveau in niveaux_elementaire for niveau in niveaux_list):
                df_users.loc[idx, 'elementaire'] = 1
            if any(niveau in niveaux_college for niveau in niveaux_list):
                df_users.loc[idx, 'college'] = 1
            if any(niveau in niveaux_lycee for niveau in niveaux_list):
                df_users.loc[idx, 'lycee'] = 1
            if any(niveau in niveaux_lycee_pro for niveau in niveaux_list):
                df_users.loc[idx, 'lycee_pro'] = 1
            if any(niveau in niveaux_autre for niveau in niveaux_list):
                df_users.loc[idx, 'autre'] = 1

        except:
            pass

print("Distribution par établissement :")
for etab in etablissements:
    count = df_users[etab].sum()
    print(f"{etab}: {count}")

Distribution par établissement :
maternelle: 52119
elementaire: 77946
college: 46890
lycee: 21604
lycee_pro: 14763
autre: 10539

#### Drop `json_niveau`

In [74]:
df_users = df_users.drop('json_niveau', axis=1)

### `json_etablissement`

In [79]:
# Extract 10 to see how it's done

for i, (idx, etab) in enumerate(df_users['json_etablissement'].dropna().sample(10, random_state=42).items(), 1):
    print(f"\n{i}. Index {idx}:")
    print(f"   {etab}")

# Voir quelques stats générales
print(f"\n" + "=" * 50)
print(f"Total d'entrées json_etablissement non-nulles : {df_users['json_etablissement'].notna().sum()}")
print(f"Valeurs uniques : {df_users['json_etablissement'].nunique()}")

1. Index 182910:
   []

2. Index 174124:
   [{"id": 46564, "nom": "Ecole primaire privée Montessori de Lyon", "eefe": false, "pays": "France", "ville": "Lyon 6e  Arrondissement", "region": "Auvergne-Rhône-Alpes", "adresse": "8 rue Barrier", "academie": "Lyon", "code_pays": "FRA", "code_postal": "69006", "code_etablissement": "0693085D", "etat_etablissement": "OUVERT", "type_etablissement": "ECOLE DE NIVEAU ELEMENTAIRE", "code_type_etablissement": "151"}]

3. Index 180018:
   []

4. Index 85169:
   [{"id": 48358, "nom": "Collège Jules Verne", "ville": "Les Mureaux", "region": "Ile-de-France", "adresse": "Rue Albert Thomas", "academie": "Versailles", "code_postal": "78130", "code_etablissement": "0780180X", "etat_etablissement": "OUVERT", "type_etablissement": "COLLEGE"}]

5. Index 146421:
   [{"id": 17424, "nom": "Ecole Primaire", "eefe": false, "pays": "France", "ville": "Périssac", "region": "Nouvelle-Aquitaine", "adresse": "9 avenue des Ecoles", "academie": "Bordeaux", "code_pays": "FRA", "code_postal": "33240", "code_etablissement": "0330985S", "etat_etablissement": "OUVERT", "type_etablissement": "ECOLE DE NIVEAU ELEMENTAIRE", "code_type_etablissement": "151"}]

6. Index 146836:
   [{"id": 48110, "nom": "Lycée d'enseignement général Marie Curie", "eefe": false, "pays": "France", "ville": "Sceaux", "region": "Ile-de-France", "adresse": "1 rue Constant Pilate", "academie": "Versailles", "code_pays": "FRA", "code_postal": "92331", "code_etablissement": "0920146J", "etat_etablissement": "OUVERT", "type_etablissement": "LYCEE D ENSEIGNEMENT GENERAL", "code_type_etablissement": "302"}]

7. Index 67445:
   []

8. Index 195394:
   [{"id":36174,"nom":"Ecole primaire privée Saint Joseph","code_etablissement":"0593724C","eefe":false,"code_pays":"FRA","pays":"France","ville":"Cysoing","region":"Hauts-de-France","code_postal":"59830","adresse":"136 rue Salvador Allende","type_etablissement":"ECOLE DE NIVEAU ELEMENTAIRE","code_type_etablissement":"151","academie":"Lille","etat_etablissement":"OUVERT"}]

9. Index 167769:
   [{"id": 41525, "nom": "Ecole primaire publique", "eefe": false, "pays": "France", "ville": "Saint-Yrieix-la-Perche", "region": "Nouvelle-Aquitaine", "adresse": "Rue Colonel du Garreau de la Méchenie", "academie": "Limoges", "code_pays": "FRA", "code_postal": "87500", "code_etablissement": "0870498U", "etat_etablissement": "OUVERT", "type_etablissement": "ECOLE DE NIVEAU ELEMENTAIRE", "code_type_etablissement": "151"}]

10. Index 154090:
   []

==================================================
Total d'entrées json_etablissement non-nulles : 152814
Valeurs uniques : 68921

In [ ]:
def extract_etablissement_info(etab_str):
    if pd.isna(etab_str)or etab_str == '[]':
        return np.nan, np.nan, np.nan

    try:
        etab_list = json.loads(etab_str)

        # Vérifier qu'on a bien une liste non vide
        if isinstance(etab_list, list) and len(etab_list) > 0:
            etab_obj = etab_list[0]  # Prendre le premier (et probablement unique) établissement

            # Extraire les infos avec valeur par défaut 'NR'
            code_postal = etab_obj.get('code_postal', 'NR')
            academie = etab_obj.get('academie', 'NR')
            type_etablissement = etab_obj.get('type_etablissement', 'NR')

            return code_postal, academie, type_etablissement
        else:
            return 'NR', 'NR', 'NR'

    except:
        return 'NR', 'NR', 'NR'

# Appliquer l'extraction et créer les 3 colonnes
df_users[['code_postal_etab', 'academie_etab', 'type_etablissement_etab']] = df_users['json_etablissement'].apply(
    lambda x: pd.Series(extract_etablissement_info(x))
)

In [81]:
df_users[['code_postal_etab', 'academie_etab', 'type_etablissement_etab']]

       code_postal_etab academie_etab      type_etablissement_etab
0                 78770    Versailles             ECOLE MATERNELLE
1                   NaN           NaN                          NaN
2                   NaN           NaN                          NaN
3                 93260       Créteil             ECOLE MATERNELLE
4                   NaN           NaN                          NaN
...                 ...           ...                          ...
198884            69270          Lyon  ECOLE DE NIVEAU ELEMENTAIRE
198885              NaN           NaN                          NaN
198886            49270        Nantes  ECOLE DE NIVEAU ELEMENTAIRE
198887            52210         Reims  ECOLE DE NIVEAU ELEMENTAIRE
198888            77133       Créteil  ECOLE DE NIVEAU ELEMENTAIRE

[198889 rows x 3 columns]

In [ ]:
def complete_codepostal(row):
    codepostal = row['codepostal']
    code_postal_etab = row['code_postal_etab']

    # Cas 1: codepostal NaN et code_postal_etab NaN → NaN
    if pd.isna(codepostal) and pd.isna(code_postal_etab):
        return np.nan

    # Cas 2: codepostal NaN et code_postal_etab a une valeur → code_postal_etab
    elif pd.isna(codepostal) and pd.notna(code_postal_etab):
        return code_postal_etab

    # Cas 3: codepostal a une valeur et code_postal_etab NaN → ne rien faire (garder codepostal)
    elif pd.notna(codepostal) and pd.isna(code_postal_etab):
        return codepostal

    # Cas 4: codepostal a une valeur et code_postal_etab a une valeur → code_postal_etab (priorité)
    elif pd.notna(codepostal) and pd.notna(code_postal_etab):
        return code_postal_etab

df_users['codepostal'] = df_users.apply(complete_codepostal, axis=1)

In [111]:
df_users.codepostal.isna().value_counts()

False    132194
True      66695
Name: codepostal, dtype: int64

In [112]:
df_users.code_postal_etab.isna().value_counts()

False    101049
True      97840
Name: code_postal_etab, dtype: int64

**Drop `aucun_etablissement`**

In [113]:
drop_col('aucun_etablissement')

'Column `aucun_etablissement` dropped. New shape : (198889, 43)'

**Drop `json_etablissement`**

In [120]:
drop_col('json_etablissement')

'Column `json_etablissement` dropped. New shape : (198889, 42)'

#### Create `departement`

In [ ]:
def extract_departement(code_postal):
    if pd.isna(code_postal):
        return np.nan

    # Convertir en string et s'assurer qu'on a 5 chiffres (zfill pour ajouter les 0)
    cp = str(code_postal).strip().zfill(5)

    # Vérifier que c'est numérique après padding
    if not cp.isdigit():
        return np.nan

    # Cas spéciaux des DOM-TOM (3 chiffres)
    if cp.startswith('97') or cp.startswith('98'):
        return cp[:3]  # 971, 972, 973, 974, 975, 976, 977, 978, 984, 986, 987, 988

    # Cas général (2 chiffres) - garder le zéro initial
    return cp[:2]

df_users['departement'] = df_users['codepostal'].apply(extract_departement)

#### complete `academie_etab`

In [ ]:
dept_to_academie = {
    # Clermont-Ferrand
    '03': 'Clermont-Ferrand', '15': 'Clermont-Ferrand', '43': 'Clermont-Ferrand', '63': 'Clermont-Ferrand',

    # Grenoble
    '07': 'Grenoble', '26': 'Grenoble', '38': 'Grenoble', '73': 'Grenoble', '74': 'Grenoble',

    # Lyon
    '01': 'Lyon', '42': 'Lyon', '69': 'Lyon', '69D': 'Lyon', '69M': 'Lyon',

    # Besançon
    '25': 'Besançon', '39': 'Besançon', '70': 'Besançon', '90': 'Besançon',

    # Dijon
    '21': 'Dijon', '58': 'Dijon', '71': 'Dijon', '89': 'Dijon',

    # Rennes
    '22': 'Rennes', '29': 'Rennes', '35': 'Rennes', '56': 'Rennes',

    # Orléans-Tours
    '18': 'Orléans-Tours', '28': 'Orléans-Tours', '36': 'Orléans-Tours', '37': 'Orléans-Tours', '41': 'Orléans-Tours', '45': 'Orléans-Tours',

    # Corse
    '2A': 'Corse', '2B': 'Corse',

    # Nancy-Metz
    '54': 'Nancy-Metz', '55': 'Nancy-Metz', '57': 'Nancy-Metz', '88': 'Nancy-Metz',

    # Reims
    '08': 'Reims', '10': 'Reims', '51': 'Reims', '52': 'Reims',

    # Strasbourg
    '67': 'Strasbourg', '68': 'Strasbourg',

    # Guadeloupe
    '971': 'Guadeloupe', '977': 'Guadeloupe', '978': 'Guadeloupe',

    # Guyane
    '973': 'Guyane',

    # Amiens
    '02': 'Amiens', '60': 'Amiens', '80': 'Amiens',

    # Lille
    '59': 'Lille', '62': 'Lille',

    # Créteil
    '77': 'Créteil', '93': 'Créteil', '94': 'Créteil',

    # Paris
    '75': 'Paris',

    # Versailles
    '78': 'Versailles', '91': 'Versailles', '92': 'Versailles', '95': 'Versailles',

    # Martinique
    '972': 'Martinique',

    # Normandie
    '14': 'Normandie', '27': 'Normandie', '50': 'Normandie', '61': 'Normandie', '76': 'Normandie', '975': 'Normandie',

    # Bordeaux
    '24': 'Bordeaux', '33': 'Bordeaux', '40': 'Bordeaux', '47': 'Bordeaux', '64': 'Bordeaux',

    # Limoges
    '19': 'Limoges', '23': 'Limoges', '87': 'Limoges',

    # Poitiers
    '16': 'Poitiers', '17': 'Poitiers', '79': 'Poitiers', '86': 'Poitiers',

    # Montpellier
    '11': 'Montpellier', '30': 'Montpellier', '34': 'Montpellier', '48': 'Montpellier', '66': 'Montpellier',

    # Toulouse
    '09': 'Toulouse', '12': 'Toulouse', '31': 'Toulouse', '32': 'Toulouse', '46': 'Toulouse', '65': 'Toulouse', '81': 'Toulouse', '82': 'Toulouse',

    # Nantes
    '44': 'Nantes', '49': 'Nantes', '53': 'Nantes', '72': 'Nantes', '85': 'Nantes',

    # Aix-Marseille
    '04': 'Aix-Marseille', '05': 'Aix-Marseille', '13': 'Aix-Marseille', '84': 'Aix-Marseille',

    # Nice
    '06': 'Nice', '83': 'Nice',

    # La Réunion
    '974': 'La Réunion',

    # Mayotte
    '976': 'Mayotte'
}

def complete_academie(row):
    academie_etab = row['academie_etab']
    departement = row['departement']

    if pd.notna(academie_etab):
        return academie_etab

    if pd.notna(departement) and departement in dept_to_academie:
        return dept_to_academie[departement]

    return np.nan

df_users['academie_etab'] = df_users.apply(complete_academie, axis=1)

### `json_discipline`

In [ ]:
def extract_discipline(row):
    maternelle = row['maternelle']
    elementaire = row['elementaire']
    json_discipline = row['json_discipline']

    # Si maternelle ou élémentaire = 1, on met NaN
    if maternelle == 1 or elementaire == 1:
        return np.nan

    # Sinon, on extrait la première discipline du JSON
    if pd.notna(json_discipline):
        try:
            discipline_list = json.loads(json_discipline)

            # Vérifier qu'on a bien une liste non vide
            if isinstance(discipline_list, list) and len(discipline_list) > 0:
                return discipline_list[0]  # Premier élément au format string
            else:
                return np.nan
        except:
            return np.nan

    return np.nan

# Créer la colonne discipline
df_users['discipline'] = df_users.apply(extract_discipline, axis=1)

In [126]:
drop_col('json_discipline')

'Column `json_discipline` dropped. New shape : (198889, 43)'

### Explore `json_metadata`

In [130]:
# Extract 10 to see how it's done

for i, (idx, etab) in enumerate(df_users['json_metadata'].dropna().sample(10, random_state=42).items(), 1):
    print(f"\n{i}. Index {idx}:")
    print(f"   {etab}")

# Voir quelques stats générales
print(f"\n" + "=" * 50)
print(f"Total d'entrées json_metadata non-nulles : {df_users['json_metadata'].notna().sum()}")
print(f"Valeurs uniques : {df_users['json_metadata'].nunique()}")

1. Index 124196:
   [{"key": "newsletter", "value": "false", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "etablissement_1", "value": "0100375D - Ecole élémentaire Saint-Exupéry 10420 - Academie de Reims", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "etablissement_2", "value": "", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "etablissement_3", "value": "", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "etablissement_4", "value": "", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "etablissement_5", "value": "", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "etablissement_6", "value": "", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "telechargement_sequence_14", "value": "true", "created_at": "2023-02-03T22:01:53.360Z", "updated_at": "2023-02-03T22:03:27.960Z"}, {"key": "premier_atelier", "value": true, "created_at": "2023-02-03T22:03:30.217Z", "updated_at": "2023-02-03T22:03:30.217Z"}, {"key": "premiere_fiche_outils", "value": true, "created_at": "2023-03-02T19:51:10.813Z", "updated_at": "2023-03-02T19:51:10.813Z"}, {"key": "telechargement_fiche_outils_167", "value": true, "created_at": "2023-03-02T19:51:11.442Z", "updated_at": "2023-03-02T19:51:11.442Z"}, {"key": "programme_thematique", "value": "ei-s-pbe, te-o-ppp", "created_at": "", "updated_at": ""}]

2. Index 58850:
   [{"key": "etablissement_1", "value": "0710167W - Ecole maternelle Vivant Denon 71100 - Academie de Dijon", "created_at": "2023-02-09T16:14:00.264Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "etablissement_2", "value": "0711721K - Ecole primaire Vivant Denon 71100 - Academie de Dijon", "created_at": "2023-02-09T16:14:00.264Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "etablissement_3", "value": "", "created_at": "2023-02-09T16:14:00.264Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "etablissement_4", "value": "", "created_at": "2023-02-09T16:14:00.264Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "etablissement_5", "value": "", "created_at": "2023-02-09T16:14:00.264Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "etablissement_6", "value": "", "created_at": "2023-02-09T16:14:00.264Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "telechargement_guide_pratique_3", "value": "true", "created_at": "2023-02-09T16:14:00.264Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "premier_guide_pratique", "value": "true", "created_at": "2023-02-09T16:15:38.906Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "telechargement_guide_pratique_10", "value": "true", "created_at": "2023-02-09T16:15:39.782Z", "updated_at": "2023-08-17T13:14:43.363Z"}, {"key": "telechargement_fiche_outils_133", "value": true, "created_at": "2023-08-17T13:14:45.505Z", "updated_at": "2023-08-17T13:14:45.505Z"}, {"key": "telechargement_alma_5", "value": "true", "created_at": "2023-09-14T23:34:31.665Z", "updated_at": "2023-09-14T23:35:29.100Z"}, {"key": "almastudio", "value": "true", "created_at": "2023-09-14T23:34:31.665Z", "updated_at": "2023-09-14T23:35:29.100Z"}, {"key": "programme_thematique", "value": null, "created_at": "", "updated_at": ""}]

3. Index 142029:
   [{"key": "newsletter", "value": "false", "created_at": "2023-08-15T19:44:33.265Z", "updated_at": "2023-08-15T19:44:33.265Z"}, {"key": "etablissement_1", "value": "0711054K - Collège Saint-Exupéry 71003 - Academie de Dijon", "created_at": "2023-08-15T19:44:33.265Z", "updated_at": "2023-08-15T19:44:33.265Z"}, {"key": "etablissement_2", "value": "", "created_at": "2023-08-15T19:44:33.265Z", "updated_at": "2023-08-15T19:44:33.265Z"}, {"key": "etablissement_3", "value": "", "created_at": "2023-08-15T19:44:33.265Z", "updated_at": "2023-08-15T19:44:33.265Z"}, {"key": "etablissement_4", "value": "", "created_at": "2023-08-15T19:44:33.265Z", "updated_at": "2023-08-15T19:44:33.265Z"}, {"key": "etablissement_5", "value": "", "created_at": "2023-08-15T19:44:33.265Z", "updated_at": "2023-08-15T19:44:33.265Z"}, {"key": "etablissement_6", "value": "", "created_at": "2023-08-15T19:44:33.265Z", "updated_at": "2023-08-15T19:44:33.265Z"}, {"key": "inscrit_atelier_505", "value": true, "created_at": "2023-08-15T19:44:35.684Z", "updated_at": "2023-08-15T19:44:35.684Z"}, {"key": "premier_atelier", "value": true, "created_at": "2023-08-15T19:44:35.972Z", "updated_at": "2023-08-15T19:44:35.972Z"}, {"key": "programme_thematique", "value": "ei-a-ppa, ei-f-ppa, ei-o-obe", "created_at": "", "updated_at": ""}]

4. Index 42009:
   [{"key": "inscrit_caprentree", "value": "true", "created_at": "2020-08-28T10:29:40.815Z", "updated_at": "2020-08-28T10:29:40.815Z"}, {"key": "programme_thematique", "value": null, "created_at": "", "updated_at": ""}]

5. Index 119088:
   [{"key": "newsletter", "value": "false", "created_at": "2022-12-04T09:21:01.805Z", "updated_at": "2022-12-04T09:21:01.805Z"}, {"key": "telechargement_guide_pratique_294", "value": "true", "created_at": "2022-12-04T09:21:01.805Z", "updated_at": "2022-12-04T09:21:01.805Z"}, {"key": "programme_thematique", "value": null, "created_at": "", "updated_at": ""}]

6. Index 179523:
   [{"key": "newsletter", "value": "true", "created_at": "2024-08-07T00:31:52.938Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "inscrit_kit_pedagogie_universelle", "value": "true", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "premier_dispositif", "value": "true", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "etablissement_1", "value": "0060932F - Ecole élémentaire La Corniche Fleurie 6200 - Academie de Nice", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "etablissement_2", "value": "", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "etablissement_3", "value": "", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "etablissement_4", "value": "", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "etablissement_5", "value": "", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}, {"key": "etablissement_6", "value": "", "created_at": "2024-08-07T00:31:53.488Z", "updated_at": "2024-08-07T00:31:53.488Z"}]

7. Index 1224:
   [{"key": "anciennete", "value": "1", "created_at": "2017-08-21 13:12:07", "updated_at": "2017-08-21 13:12:07"}, {"key": "kit_survie", "value": "1", "created_at": "2017-08-21 13:12:07", "updated_at": "2017-08-21 13:12:07"}, {"key": "genre", "value": "F", "created_at": "2017-08-21 13:15:31", "updated_at": "2017-08-21 13:15:31"}, {"key": "bio", "value": "Enseignante depuis un an, dans le Val de Marne (94). ", "created_at": "2017-08-21 13:15:31", "updated_at": "2017-08-21 13:15:32"}, {"key": "competence[315]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "competence[316]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "competence[317]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "competence[318]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "competence[319]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "competence[320]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "competence[321]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "competence[322]", "value": "competence", "created_at": "2017-08-21 13:16:36", "updated_at": "2017-08-21 13:16:36"}, {"key": "programme_thematique", "value": null, "created_at": "", "updated_at": ""}]

8. Index 51010:
   [{"key": "inscrit_caprentree", "value": "true", "created_at": "2020-10-19T17:07:16.928Z", "updated_at": "2020-10-19T17:07:16.928Z"}, {"key": "programme_thematique", "value": null, "created_at": "", "updated_at": ""}]

9. Index 192256:
   [{"key":"newsletter","value":"true","created_at":"2025-02-17T10:15:06.613Z","updated_at":"2025-02-17T10:15:07.335Z"},{"key":"premier_guide_pratique","value":true,"created_at":"2025-02-17T10:15:08.793Z","updated_at":"2025-02-17T10:15:08.793Z"},{"key":"telechargement_guide_pratique_294","value":true,"created_at":"2025-02-17T10:15:09.559Z","updated_at":"2025-02-17T10:15:09.559Z"},{"key":"programme_thematique","value":"ei-o-obe, ei-a-ppa, ei-f-ppa","created_at":"2025-02-17T10:15:09.559Z","updated_at":"2025-02-17T12:37:50.341Z"},{"key":"premiere_fiche_outils","value":true,"created_at":"2025-02-17T10:52:52.422Z","updated_at":"2025-02-17T10:52:52.422Z"},{"key":"telechargement_fiche_outils_50","value":true,"created_at":"2025-02-17T10:52:53.180Z","updated_at":"2025-02-17T10:52:53.180Z"},{"key":"telechargement_guide_pratique_425","value":true,"created_at":"2025-02-17T12:42:17.043Z","updated_at":"2025-02-17T12:42:17.043Z"}]

10. Index 39648:
   [{"key": "inscrit_caprentree", "value": "true", "created_at": "2020-08-24T19:26:17.906Z", "updated_at": "2020-08-24T19:26:17.906Z"}, {"key": "programme_thematique", "value": null, "created_at": "", "updated_at": ""}]

==================================================
Total d'entrées json_metadata non-nulles : 193717

Valeurs uniques : 186695

**Theses data will be completed with interaction_events**  
So, let's drop the column

In [131]:
drop_col('json_metadata')

'Column `json_metadata` dropped. New shape : (198889, 42)'

### Update `anciennete`

In [ ]:
def update_anciennete(row):
    anciennete = row['anciennete']
    created_at = row['created_at']

    if pd.isna(created_at):
        return anciennete

    try:
        if isinstance(created_at, str):
            created_date = pd.to_datetime(created_at)
        else:
            created_date = created_at

        annee_creation = created_date.year
        ecart_annees = 2025 - annee_creation

        if pd.isna(anciennete):
            return ecart_annees

        return anciennete + ecart_annees

    except:
        return anciennete

df_users['anciennete'] = df_users.apply(update_anciennete, axis=1)

### Only need day, not time in `created_at`

In [151]:
df_users['created_at'] = pd.to_datetime(df_users['created_at']).dt.date

## Global view of table

In [133]:
df_users.shape

(198889, 42)

In [134]:
df_users.columns

Index(['id', 'statut_infolettre', 'statut_mailchimp', 'codepostal',
       'anciennete', 'created_at', 'niveau_1ere', 'niveau_2nde', 'niveau_3e',
       'niveau_4e', 'niveau_5e', 'niveau_6e', 'niveau_ash', 'niveau_bac_pro',
       'niveau_cap', 'niveau_ce1', 'niveau_ce2', 'niveau_cm1', 'niveau_cm2',
       'niveau_cp', 'niveau_direction',
       'niveau_formateur_trice_/inspecteur_trice', 'niveau_gs', 'niveau_ms',
       'niveau_post_bac', 'niveau_ps', 'niveau_professeur_e_documentaliste',
       'niveau_segpa', 'niveau_tps', 'niveau_terminale', 'degre', 'maternelle',
       'elementaire', 'college', 'lycee', 'lycee_pro', 'autre',
       'code_postal_etab', 'academie_etab', 'type_etablissement_etab',
       'departement', 'discipline'],
      dtype='object')

In [135]:
df_users.dtypes

id                                            int64
statut_infolettre                             int64
statut_mailchimp                             object
codepostal                                   object
anciennete                                  float64
created_at                                   object
niveau_1ere                                   int64
niveau_2nde                                   int64
niveau_3e                                     int64
niveau_4e                                     int64
niveau_5e                                     int64
niveau_6e                                     int64
niveau_ash                                    int64
niveau_bac_pro                                int64
niveau_cap                                    int64
niveau_ce1                                    int64
niveau_ce2                                    int64
niveau_cm1                                    int64
niveau_cm2                                    int64
niveau_cp                                     int64
niveau_direction                              int64
niveau_formateur_trice_/inspecteur_trice      int64
niveau_gs                                     int64
niveau_ms                                     int64
niveau_post_bac                               int64
niveau_ps                                     int64
niveau_professeur_e_documentaliste            int64
niveau_segpa                                  int64
niveau_tps                                    int64
niveau_terminale                              int64
degre                                         int64
maternelle                                    int64
elementaire                                   int64
college                                       int64
lycee                                         int64
lycee_pro                                     int64
autre                                         int64
code_postal_etab                             object
academie_etab                                object
type_etablissement_etab                      object
departement                                  object
discipline                                   object
dtype: object

In [152]:
df_users.sample(10)

,id,statut_infolettre,statut_mailchimp,codepostal,anciennete,created_at,niveau_1ere,niveau_2nde,niveau_3e,niveau_4e,...,elementaire,college,lycee,lycee_pro,autre,code_postal_etab,academie_etab,type_etablissement_etab,departement,discipline
150199,156779,0,subscribed,91150,10.0,2023-09-09,0,0,0,1,...,0,1,0,0,0,91150,Versailles,ECOLE DE NIVEAU ELEMENTAIRE,91,NaN
59457,64162,0,cleaned,93000,4.0,2021-03-10,0,0,0,0,...,1,0,0,0,0,NaN,Créteil,NaN,93,NaN
27777,30806,1,subscribed,NaN,5.0,2020-03-09,0,0,0,0,...,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
145045,151489,0,subscribed,88204,25.0,2023-08-28,0,0,0,0,...,0,0,1,0,1,88204,Nancy-Metz,LYCEE POLYVALENT,88,Sciences et technologies
8377,9550,1,subscribed,62960,8.0,2018-07-11,0,0,1,1,...,0,1,0,0,0,NaN,Lille,NaN,62,Langues vivantes
74750,79736,1,subscribed,NaN,35.0,2021-08-24,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
33783,37473,1,subscribed,14100,31.0,2020-07-28,0,0,0,0,...,1,0,0,0,0,NaN,Normandie,NaN,14,NaN
17481,19306,1,subscribed,NaN,6.0,2019-02-26,0,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
157350,164162,0,subscribed,64000,6.0,2023-10-11,0,0,0,0,...,0,0,0,0,0,64000,Bordeaux,ECOLE DE NIVEAU ELEMENTAIRE,64,NaN
104591,110310,1,unsubscribed,88000,27.0,2022-08-22,0,0,0,0,...,1,0,0,0,0,88000,Nancy-Metz,ECOLE DE NIVEAU ELEMENTAIRE,88,NaN

## Rename columns for understandable names

In [153]:
df_users.columns

Index(['id', 'statut_infolettre', 'statut_mailchimp', 'codepostal',
       'anciennete', 'created_at', 'niveau_1ere', 'niveau_2nde', 'niveau_3e',
       'niveau_4e', 'niveau_5e', 'niveau_6e', 'niveau_ash', 'niveau_bac_pro',
       'niveau_cap', 'niveau_ce1', 'niveau_ce2', 'niveau_cm1', 'niveau_cm2',
       'niveau_cp', 'niveau_direction',
       'niveau_formateur_trice_/inspecteur_trice', 'niveau_gs', 'niveau_ms',
       'niveau_post_bac', 'niveau_ps', 'niveau_professeur_e_documentaliste',
       'niveau_segpa', 'niveau_tps', 'niveau_terminale', 'degre', 'maternelle',
       'elementaire', 'college', 'lycee', 'lycee_pro', 'autre',
       'code_postal_etab', 'academie_etab', 'type_etablissement_etab',
       'departement', 'discipline'],
      dtype='object')

In [ ]:
# df_users = df_users.rename(columns={
#     'codepostal': 'code_postal',
#     'type_etablissement_etab': 'type_etab',
#     'academie_etab': 'academie',
#     'niveau_formateur_trice_/inspecteur_trice': 'niveau_formateur',
#     'niveau_professeur_e_documentaliste': 'niveau_documentaliste'
# })

colonnes_ordre = [
    'id', 'statut_infolettre', 'statut_mailchimp', 'code_postal', 'departement', 'academie',
    'anciennete', 'created_at', 'degre', 'maternelle', 'elementaire', 'college', 'lycee', 'lycee_pro', 'autre',
    'type_etab', 'discipline',
    'niveau_tps',
    'niveau_ps',
    'niveau_ms',
    'niveau_gs',
    'niveau_cp',
    'niveau_ce1',
    'niveau_ce2',
    'niveau_cm1',
    'niveau_cm2',
    'niveau_6e',
    'niveau_5e',
    'niveau_4e',
    'niveau_3e',
    'niveau_2nde',
    'niveau_1ere',
    'niveau_terminale',
    'niveau_cap',
    'niveau_bac_pro',
    'niveau_post_bac',
    'niveau_segpa',
    'niveau_ash',
    'niveau_direction',
    'niveau_formateur',
    'niveau_documentaliste',

]

df_users = df_users[colonnes_ordre]

In [157]:
df_users

,id,statut_infolettre,statut_mailchimp,code_postal,departement,academie,anciennete,created_at,degre,maternelle,...,niveau_1ere,niveau_terminale,niveau_cap,niveau_bac_pro,niveau_post_bac,niveau_segpa,niveau_ash,niveau_direction,niveau_formateur,niveau_documentaliste
0,1,1,subscribed,78770,78,Versailles,24.0,2016-12-31,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,1,unsubscribed,31130,31,Toulouse,9.0,2016-12-31,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,unsubscribed,NaN,NaN,NaN,8.0,2017-01-11,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,1,subscribed,93260,93,Créteil,12.0,2017-01-13,1,1,...,0,0,0,0,0,0,0,0,0,0
4,5,1,subscribed,75020,75,Paris,8.0,2017-01-13,2,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198884,210716,0,subscribed,69270,69,Lyon,0.0,2025-07-10,1,1,...,0,0,0,0,0,0,0,0,0,0
198885,210717,0,NaN,NaN,NaN,NaN,7.0,2025-07-10,1,0,...,0,0,0,0,0,0,0,0,0,0
198886,210718,1,subscribed,49270,49,Nantes,0.0,2025-07-10,1,1,...,0,0,0,0,0,0,0,0,0,0
198887,210719,0,subscribed,52210,52,Reims,0.0,2025-07-10,1,0,...,0,0,0,0,0,0,0,0,0,0
198888,210720,1,subscribed,77133,77,Créteil,0.0,2025-07-10,1,1,...,0,0,0,0,0,0,0,0,0,0

## Export new users_data

In [158]:
df_users.to_csv("../data/users_cleaned.csv", index=False)

In [159]:
df_users.columns

Index(['id', 'statut_infolettre', 'statut_mailchimp', 'code_postal',
       'departement', 'academie', 'anciennete', 'created_at', 'degre',
       'maternelle', 'elementaire', 'college', 'lycee', 'lycee_pro', 'autre',
       'type_etab', 'discipline', 'niveau_tps', 'niveau_ps', 'niveau_ms',
       'niveau_gs', 'niveau_cp', 'niveau_ce1', 'niveau_ce2', 'niveau_cm1',
       'niveau_cm2', 'niveau_6e', 'niveau_5e', 'niveau_4e', 'niveau_3e',
       'niveau_2nde', 'niveau_1ere', 'niveau_terminale', 'niveau_cap',
       'niveau_bac_pro', 'niveau_post_bac', 'niveau_segpa', 'niveau_ash',
       'niveau_direction', 'niveau_formateur', 'niveau_documentaliste'],
      dtype='object')