# Frequency of user usage

## Imports

In [1]:
import pandas as pd
import numpy as np

## Create dataframe

Generate 1000 random user ids for demo

In [2]:
random_ids = np.random.choice(range(1, 100001), size=1000, replace=False)

Create Dataframe

In [3]:
df_users_frequency = pd.DataFrame({
    'id': random_ids
})

Create columns

In [4]:
# Add subscribe date
df_users_frequency['join_date'] = 0

# Total number of interactions
df_users_frequency['total_interactions'] = 0

# Add 12 columns for the last 12 weeks
for i in range(12):
    df_users_frequency[f'week_minus_{i}'] = 0

# Add 12 columns for the last 12 months
for i in range(12):
    df_users_frequency[f'month_minus_{i}'] = 0

# Add 3 columns for the last 3 years
for i in range(3):
    df_users_frequency[f'year_minus_{i}'] = 0

**How it could look like**

In [5]:
df_users_frequency

,id,join_date,total_interactions,week_minus_0,week_minus_1,week_minus_2,week_minus_3,week_minus_4,week_minus_5,week_minus_6,...,month_minus_5,month_minus_6,month_minus_7,month_minus_8,month_minus_9,month_minus_10,month_minus_11,year_minus_0,year_minus_1,year_minus_2
0,59714,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,55419,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,91912,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,72126,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,53311,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,42144,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,25748,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,27727,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,8501,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,98108,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Last step : fill with `interaction_events` (excerpt for _join date_ which is in `users`database)**